.headertext {
    height: 40%;
    margin: 9% auto;
    width: 85%;

    p {
        color: #111;
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        font-family: gt-sectra;
    }

    @media screen and (max-width: 1024px) {
        width: 90%;

        p {
            font-size: 30px;
            line-height: 40px;
        }
    }

    @media screen and (max-width: 768px) {
        width: 95%;

        p {
            font-size: 25px;
            line-height: 35px;
            text-align: left;
        }
    }

    @media screen and (max-width: 480px) {
        p{
            font-size: 20px;
        }
    }
}