.DS_Store
/node_modules
/dist
main.mp4
Homepage.vue
About.vue
Experience.vue
Home.vue
Carousel.vue
Press.vue
# Galleryheader.vue
# Galleryphotos.vue
# Gallery.vue
# images_gallery.txt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
