body {
    margin: 0;
}

.aboutheader {
    width: 100%;
    height: 100%;

    .imgbg {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .imgtitle {
        z-index: 100;
        position: absolute;
        color: #fff;
        bottom: 40%;
        left: 20%;
        text-align: left;
        font-family: gt-sectra;
        font-size: 60px;
        width: 60%;
    }

    .imgtext {
        letter-spacing: 1px;
    } 

    .imgtext1 {
        letter-spacing: 4px;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        height: 90vh;

        .imgtitle {
            position: absolute;
            bottom: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        .imgtitle {
            font-size: 40px;
        }
    }
}

.content2 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    text-align: left;

    .leftcolumn, .rightcolumn {
        width: 50%;
    }

    .leftcolumn {
        margin: 10% auto;
        width: 40%;

        .left_title {
            height: 55px;
        }

        .title {
            font-size: 40px;
            font-family: gt-sectra;
        }

        .left_txt {
            font-size: 17px;
            font-family: messina sans;
            color: #777;
            line-height: 35px;
        }
    }

    .rightcolumn img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width: 1024px) {
        width: 90%;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;

        .leftcolumn {
            width: 60%;

            .left_txt {
                font-size: 15px;
                line-height: 27px;
            }
        }
        
        .rightcolumn {
            width: 80%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 480px) {
        
        .leftcolumn {
            width: 70%;

            .left_txt {
                font-size: 13px;
                line-height: 23px;
            }
        }
        
        .rightcolumn {
            width: 90%;
            margin: 0 auto;
        }
    }
}

.content3 {
    height: 100%;
    width: 95%;
    margin: 10% auto;

    img {
        width: 100%;
    }
}

.content4 {
    height: 100%;
    width: 100%;

    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
    
    $animationSpeed: 40s;
    
    // Animation
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }
    
    // Styling
    .slider {
        overflow:hidden;
        display: flex;
        width: 100%;
        
        &::before, &::after {
            @include white-gradient;
            content: "";
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            width: 60%;

            @media screen and (max-width: 480px) {
                width: 100%;
            }
        }
        
        .slide {
            display: flex;
            flex-direction: row;
        }
    }
}

.content9 {
    width: 100%;
    margin-bottom: -5%;
    margin-top: 10%;
    height: 75vh;

    img {
        height: 100%;
        width: 100%;
    }

    .imgtext {
        position: relative;
        z-index: 2;
        bottom: 22rem;
        color: #fff;
        font-size: 42px;
        font-family: gotham;
    }

    @media screen and (max-width: 1024px) {
        height: 65vh;
        .imgtext {
            bottom: 60%;
        }
    }

    @media screen and (max-width: 768px) {
        .imgtext {
            font-size: 35px;
        }
    }
}