.aboutimage {
    width: 100%;
    height: 100%;

    .imgbg {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .imgtitle {
        z-index: 100;
        position: absolute;
        color: #fff;
        bottom: 40%;
        left: 20%;
        text-align: left;
        font-family: gt-sectra;
        font-size: 60px;
        width: 60%;
    }

    .imgtext {
        letter-spacing: 1px;
    } 

    .imgtext1 {
        letter-spacing: 4px;
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
        height: 90vh;

        .imgtitle {
            position: absolute;
            bottom: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        .imgtitle {
            font-size: 40px;
        }
    }
}